@{
    ViewData["Title"] = "Add a Meal";
}

<div>
    <h1>Add A Meal</h1>
    <form action="Create" method="post">
        <label for="meal">Meal</label>
        <input type="text" name="MealTitle"/>
        <label for="rating">Rating</label>
        <input type="number" name="Rating" />
        <label for="location">Location</label>
        <input type="text" name="Location" />
        <label for="dateeaten">Date Eaten</label>
        <input type="date" name="DateEaten" />
        <label for="comments">Comments</label>
        <input type="text" name="Comments" />
        <input type="submit" />
    </form>
</div>